/* 
Selector : 
1. Selector Tag -------> p,h1,div,h2,h3,u
2. Selector Class -----> .namakelas ex: .login
3. Selector ID --------> #namaid ex: #username
4. Selector Atribute --> input
5. Selector Universal -> * ex: *{isi}
*/



body{
    background-color: black;
}

.login{
    background-color: white;
    width: 350px;
    padding: 20px;
    margin: auto;
    margin-top: 100px;
    border: 2px solid black;
    font-size: 19px;
}

h3{
    background-color: orange;
    text-align: center;
    color: white;
    padding: 10px;
    border-radius: 7px;
}

input{
    width: 100%;
    font-size: 18px;
    border-radius: 5px;
}

input[type=submit]{
    padding: 20px;
    background-color: crimson;
    border-radius:18px;
    color: white;
}